#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_install:
	install -D $(CURDIR)/cowsay $(CURDIR)/debian/cowsay/usr/games/cowsay
	install -d $(CURDIR)/debian/cowsay/usr/share/cowsay
	cp -a $(CURDIR)/cows $(CURDIR)/debian/cowsay/usr/share/cowsay
	rm $(CURDIR)/debian/cowsay/usr/share/cowsay/cows/mech-and-cow
